:root {
   --theme-color: #ff3b21;
}

* {
   padding: 0;
   margin: 0;
   font-family: sans-serif;
}

body {
   display: grid;
   grid-template-columns: 18rem auto;
   background-color: #fff;
}

.sidebar {
   background-color: #eee;
   height: 100vh;
   overflow-y: scroll;
   border-radius: 0 1rem 1rem 0;
}

.content {
   margin: .5rem 1rem;
}


.saved-scripts {
   margin: 0 1rem;
   list-style-type: none;
}

.saved-scripts li {
   display: block;
   background-color: #fff;
   border-radius: .5rem;
   margin: .5rem 0;
   padding: .6rem;
}

li.active {
   background-color: var(--theme-color);
   color: #fff;
}

.saved-scripts li.new-script {
   text-align: center;
   color: #fff;
   background-color: var(--theme-color);
}


p {
   line-height: 2rem;
}


.hidden {
   color: #eee;
   background-color: #eee;
   transition: .2s;
   margin: 0 0;
   padding: .15rem .3rem;
   border-radius: .4rem;
}

.hidden:hover {
   color: #fff;
   background-color: #45d965;
}

.shown {
   color: #fff;
   background-color: #45d965;
}


/* input */
#input {
   box-sizing: border-box;
   display: block;
   width: 100%;
   padding: .5rem;
   background-color: #eee;
   border-radius: .4rem;
   border: none;
   font-family: serif;
   font-size: 1rem;
   height: 15rem;
}

.input-parent {
   position: relative;
   padding: .2rem 1rem;
}

.input-parent button {
   position: absolute;
   left: 1.2rem;
   bottom: .4rem;
}


/* other */
button {
   border: none;
   background-color: #888;
   color: #fff;
   text-shadow: 0 0 .1rem #222;
   padding: .3rem .5rem;
   border-radius: .3rem;
   font-size: .9rem;
   transition: .15s;
}

button:hover {
   background-color: #777;
}

button:active {
   background-color: #666;
}
